<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/forms.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Register</title>
</head>
<body>
    <body onLoad="window.scroll(0, 80)">

    <div id="page-wrapper">
    <%- include('../partials/nav.ejs') %>

    <div id="text-wrapper">
    <!-- Validation errors -->
    <% if (typeof valErrorMessages !== 'undefined' && valErrorMessages && valErrorMessages.length > 0) { %>
        <p style="background-color:rgb(255, 148, 71);">Form validation error:<br> 
            <ul>
            <% valErrorMessages.forEach((err) => { %>
            <li><%= err %></li>
            <% }); %>
            </ul>
        </p>
      <% } %>
    
    <!-- System error messages -->
    <% if (typeof systemErrorMessage !== 'undefined') { %>
        <p style="background-color:Tomato;">Unexpected system error. Please see more details below:<br>
            <ul>
                <li><%= systemErrorMessage %></p></li>
            </ul>
        </p>
        <% } %>

    <!-- POST new user form -->
    <h1>Register</h1>

    <form action="/auth/register" method="POST">
        <label for="firstname">First name:*</label>
        <input type="text" name="firstname" id="firstname" autocomplete="off"/>
        <label for="lastname">Last name:*</label>
        <input type="text" name="lastname" id="lastname" autocomplete="off"/>
        <label for="email">Email address:*</label>
        <input type="text" name="email" id="email" autocomplete="off"/>
        <label for="age">Age:*</label>
        <input type="number" name="age" id="age" min="16" max="115" autocomplete="off"/>
        <label for="email">Home location:*</label>
        <input type="text" name="location" id="location" autocomplete="off"/>
        <label for="password">Password:*</label>
        <input type="password" name="password" id="password" autocomplete="off"/>
        <label for="confirmPassword">Confirm password:*</label>
        <input type="password" name="confirmPassword" id="confirmPassword" autocomplete="off"/>
        <button type="submit">Register</button>
        <BR>
        <p style="color:rgb(130, 23, 23);">* Required field</p>
      </form>
    </div>
</div>
<%- include('../partials/footer') %>
</body>
</html>

