<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/forms.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <title>Sign in</title>
</head>
<body>
    <div id="page-wrapper">
    <%- include('../partials/nav.ejs') %>

    <div id="text-wrapper">

       <!-- Validation errors -->
       <% if (typeof valErrorMessages !== 'undefined' && valErrorMessages && valErrorMessages.length > 0) { %>
        <p style="background-color:rgb(255, 148, 71);">Form validation error:<br> 
            <ul>
            <% valErrorMessages.forEach((err) => { %>
            <li><%= err %></li>
            <% }); %>
            </ul>
        </p>
      <% } %>

   <!-- Successful account creation or problem logging in flash message -->
   <% if (typeof message !== 'undefined') { %>
    <p style="background-color:rgb(201, 206, 201);"><%= message %></p>
    <% } %>

    <!-- Sign-in form -->
    <h1>Sign in!</h1>
    <form action="/auth/sign-in" method="POST">
        <label for="email">Email address:</label>
        <input type="text" name="email" id="email" autocomplete="off" />
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" autocomplete="off" />
        <button type="submit">Sign in</button>
      </form>
    </div>
    </div>
    <%- include('../partials/footer') %>
</body>
</html>