<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <title>Document</title>
</head>
<body>
    <div id="footer-wrapper">
        <section class="footer-columns">
            <span id="company">
                <ul class="footerlist">
                    <h4>Range</h4>
                    <li><a href="/">About us</a></li>
                    <li><a href="/">Terms</a></li>
                    <li><a href="/">Privacy</a></li>
                    <li><a href="/">Help</a></li>
                </ul>
            </span>
            <span id="workwithus">
                <ul class="footerlist">
                    <h4>Work with us</h4>
                    <li><a href="/">Amateurs</a></li>
                    <li><a href="/">Ornithologists</a></li>
                    <li><a href="/">API</a></li>
                </ul>
            </span>
            <span id="connect">
                <ul class="footerlist">
                    <h4>Connect</h4>
                    <li><a href="/">Twitter / X</a></li>
                    <li><a href="/">Instagram</a></li>
                    <li><a href="/">Facebook</a></li>
                    <li><a href="/">Pinterest</a></li>
                </ul>
            </span>
        </section>
        <section class="footerlogo">
            <a href="/"><img src="https://i.ibb.co/tzw96zn/Copy-of-Range-logo-1.png" alt="GREATREADS logo" id="logo"></a>
        </section>

    </div>
</body>
</html>