<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <title>Document</title>
</head>
<body>
  <% if (user) { %>
  <div id="signedinstatus">
 <i><p style="font-size: small;">You are signed in as <%= user.firstname %></p></i> 
</div>
<% } %>
  <div id="nav-wrapper">
    <div id="navbar">
      <a href="/"><img src="https://i.ibb.co/HK4kvYZ/Copy-of-Range-logo.png" alt="RANGE logo" id="logo"></a>
      <a href="/">Home</a>
      <a href="/feed">Migration feed</a>
      <% if (user) { %>
        <a href="/community/<%=user._id%>">My perch</a>
        <a href="/community/<%=user._id%>/new-sighting">Add a sighting</a>
      <% } %>
    </div>
    <div id="signinout">
      <% if (user) { %>
        <a href="/auth/sign-out">Sign out</a>
      <% } else { %>
        <a href="/auth/sign-in">Sign in</a>
        <a href="/auth/register">Register</a>
      <% } %>
    </div>
  </div>
</body>
</html>