<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Error</title>
</head>
<body>
    <body onLoad="window.scroll(0, 80)">

    <div id="page-wrapper">
    </html><%- include('./partials/nav.ejs') %>
    <div id="text-wrapper">
    <h1>Error</h1>
    <p><%= systemErrorMessage %></p>
    <button onclick="window.history.back()">Go Back</button>
    </div>
    </div>
    <%- include('./partials/footer') %>
</body>
