<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <title>Range - Community-led migration tracker</title>
</head>
<body>
    <div id="page-wrapper">

    <%- include('./partials/nav.ejs') %>

    <div id="text-wrapper">

    <div class="hero">
    
    </div>

    <div class="box-wrapper">

        <article class="card">
            <div class="img-placeholder"></div>
                <div class="card-footer"></div>
        </article>

        <article class="card">
            <div class="img-placeholder"></div>
                <div class="card-footer"></div>
        </article>

        <article class="card">
            <div class="img-placeholder"></div>
                <div class="card-footer"></div>
        </article>

    </div>

    <div class="box-wrapper">

        <article class="card">
            <div class="img-placeholder"></div>
                <div class="card-footer"></div>
        </article>

        <article class="card">
            <div class="img-placeholder"></div>
                <div class="card-footer"></div>
        </article>

        <article class="card">
            <div class="img-placeholder"></div>
                <div class="card-footer"></div>
        </article>

    </div>
    
    </div>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>