<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Migration feed</title>
</head>
<body>
    <ul>
        <% sightings.forEach(sighting => { %>
        <li>
            <%= sighting.species %>
        </li>
    <% }) %>
    </ul>
    </html>
</body>
</html>